<div class="header-container">
    <header class="header wrapper">
        <a href="/" class="editable logo" title="The Extensible Devops Framework">Codeontap.io</a>
        <nav id="main-nav">
            <ul class="editable" data-urls="absolute">
                <li><a href="http://codeontap.readthedocs.io/">Read The Docs</a></li>
                <li><a href="#">Join The Effort</a></li>
                <li class="get-framework-link"><a href="https://github.com/codeontap/codeontap/" class="btn">Get The Framework</a></li>
            </ul>
        </nav>
    </header>
</div>